@model organic.Models.ViewModels.HomeViewModel

<link rel="stylesheet" href="https://use.typekit.net/idk3wns.css">
<body>

    <h1>CSS font-family</h1>
    <p class="p1">This is a paragraph, shown in the Times New Roman font.</p>
    <p class="p2">This is a paragraph, shown in the Arial font.</p>
    <p class="p3">This is a paragraph, shown in the Lucida Console font.</p>

</body>




@******@

<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Literata">
    <style>
        body {
            font-size: 48px;
        }

        div:nth-child(1) {
            font-family: 'Moo Lah Lah', cursive;
        }

        div:nth-child(2) {
            font-family: 'Moo Lah Lah', cursive;
        }
    </style>
</head>
<body>
    <div>Making the Web Beautiful!</div>
    <div>Making the Web Beautiful!</div>
</body>
</html>




